    <div class="container">
    <h1>It is a startpage!</h1>
{{!-- <p>With this api you can get and search from first 30 trending repositories on GitHub created since 2023-01-01 by default.</p> --}}
<p>This api gives you list of 30 trending repositories from GithubAPI.</p>
<p>By default you get list of repositories created since 2023-01-01, but you can change it whenever and however you want!</p>
<p>List of repositories is updated every 5 minutes, but you can press 'Force Sync' to still update it any time you want to!</p>

    <span >
        
<a style="color: #afa;" href="/repos">Click this to start using API</a>

</span>
