    <div class="container">

    {{!-- <h3>get your repos</h3> --}}
        <h3>get trending repos</h3>

    <p><a href="/repos/database">look at the database</a></p>

<form action="/repos/getrepos">
    <p><input type="search" name="term" placeholder="type name or id">
    <input type="submit" value="search">
</p></form>

<form action="/repos/dateval" method="post">
    you will find repos <br> created since
    <input type="date" name="dateNewRepos" id="dateNewRepos" value={{dateValue}}>
    <input type="submit" value="get">
</form>

<form action="/repos/add" method="POST">
    <p><button name="all">Force sync</button></p>
</form>
    <p><a href="/repos/spell">cast a spell</a></p>
    
    </div>