    <div class="container">

    <h3>get your repos</h3>
    <p><a href="/repos/spell">cast a spell</a></p>
    <p><a href="/repos/add">add repo</a></p>
    <p><a href="/repos/database">simple database</a></p>

    <p><input type="search" name="getBySearch" id="getBySearch" placeholder="search">
<br>
    <a href="/repos/getrepos">search repos</a>
</p>
    <p><a href="/repos/getfirst">get first repo</a></p>

    <p><button id="forceSync">Force sync</button></p>
    </div>