body {
    background-color: #000;
    color: white;
    font-size: 21px;
}

.container {
    width: 90%;
    margin: auto 4rem;

    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 0px 1rem;
}

button a {
    color: black;
}

.data {
    color: #afa;
}

.caption {
    text-align: center;

}

.unit {

    width: clamp(300px, 90%, 550px);
    padding: .25rem .5rem;
    outline: 2px solid #0fa;
    border-radius: .5rem;

    margin: 1rem auto;
}

.open {
    text-align: right;
    margin-right: 2rem;
}

header {
    background-color: #222;
    text-align: center;
    justify-content: center;
    display: flex;

}

header a {
    padding: .5rem 2rem;
    border-right: 1px black solid;
}