body {
    background-color: #000;
    color: white;
    font-size: 21px;
}

.container {
    width: 90%;
    margin: auto 4rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

button {
    padding: 0px 1rem;
}

button a {
    color: black;
}

.data {
    color: #afa;
}